[2021-11-18 14:30] xiCO2k opened #1 "feat: Add support for `trans_choise`"
Add the capability to work with pluralization like `Laravel` does.

https://laravel.com/docs/8.x/localization#pluralization

[2021-11-19 21:58] xiCO2k commented on #1
Fixed by PR #1

[2021-11-19 21:58] #1 closed

[2021-12-31 15:55] AngelOD opened #2 "Can't seem to get trans to work"
I'm using Vue 3 with composition API and while $t and $tChoice both function perfectly, I can't seem to get trans or transChoice to function properly. It's as if it's using a different configuration from $t and $tChoice. Thus no language strings are loaded.

It may just be a case of me doing something very wrong, as I work with Vue 2 daily and this is my first Vue 3 Composition API project.

<deta

[2022-01-03 11:42] xiCO2k commented on #2
Hey @AngelOD

it should work strait out of the box with this:

[code]

Let me know if that works.

[2022-01-03 14:44] AngelOD commented on #2
So this is my test of it, which outputs `Your T-shirt size (if applicable)` in the template, but `signup.field.shirt_size.name` in the console.

[code]

Am I doing something wrong?

[2022-01-03 15:00] xiCO2k commented on #2
Just tried with `<script setup>` and works just fine.

Example:

pt.json
[code]

[code]

Will try your example.

[2022-01-03 15:03] xiCO2k commented on #2
yea, I was able to replicate with your example, will figure it out and fixed that bug.

Thank you for sharing it :)

[2022-01-03 22:04] AngelOD commented on #2
Aah awesome! Thanks! I was wondering what on earth I could be doing wrong, because while the plugin is massively helpful, it doesn't require a whole lot of configuration to get it to work (a massive plus, obviously), so I couldn't figure out what I could be doing differently. 😁

[2022-01-03 22:15] xiCO2k commented on #2
Thanks for the works @AngelOD, you can for now try and switch the `resolve` method to require instead of import, I did not make a try but it should solve the issue.

Let me know if it works.

[2022-01-05 14:35] AngelOD commented on #2
I've tried changing it to the following:

[code]

But I'm getting the following error: `Uncaught (in promise) TypeError: options.resolve(...).then is not a function`

[2022-01-06 17:09] xiCO2k commented on #2
Thanks @AngelOD will be debugging it during tomorrow. sorry about the delay.

[2022-01-06 18:53] AngelOD commented on #2
No worries at all. I'm just really appreciative that you'll look into it at all. 😄

[2022-01-07 15:21] aczyt commented on #2
Hi @xiCO2k ,

Thank you for works.

My English is not good, I'm not sure whether I make myself clear.

**ISO 15897**: `en_GB.json` -> `<html lang="en-GB">`

`app.blade.php`:
[code]

[2022-01-09 09:35] xiCO2k commented on #2
Hey @aczyt, just released a new version that should handle that issue by default, let me know if that works for you 💪.

[2022-01-09 15:00] aczyt commented on #2
Thanks @xiCO2k,

`config/app.php`
[code]
settings now work fine. But I had to change the language file name to `en-GB.json`. Laravel default: `en_GB.json`.

and `loadLanguageAsync()`, All language files containing underscores must be modified.

[Laravel Docs - Defining Translation Strings](https://laravel.com/docs/8.x/localization#using-short-keys)

https://github.com/Laravel-Lang/lang/issues/1269

[2022-01-10 12:51] ibrunotome opened #3 "can't use with SSR because direct access to document property"
Hi.

If you try to build to server to get SSR, you will find this error:

<img width="790" alt="Screen Shot 2022-01-10 at 09 49 02" src="https://user-images.githubusercontent.com/4256471/148768499-edd5f342-d279-405a-95ad-832a77409fac.png">

A possible fix is check if the build is running for server or for browser: https://github.com/inertiajs/inertia/blob/master/packages/inertia/src/router.ts#L10

[2022-01-10 15:16] ibrunotome commented on #3
Also: after upgrade from 0.2.1 to 0.4.1:

`Uncaught SyntaxError: The requested module '/node_modules/.vite/laravel-vue-i18n.js?v=4bc78461' does not provide an export named 'i18nVue'`

This happened with v3 also, rolling back to 0.2.1 it works again.

[2022-01-11 08:27] AngelOD commented on #2
I need to ask: Are the two things related? Because it doesn't _seem_ like it is, but I could be wrong. Just wondering why they're in the same bug. 😄

[2022-01-11 18:53] paulocastellano opened #4 "How work with multiple language files"
Hello,

How i can work with multiple language files like:

[code]

It's possible?

[2022-01-11 21:26] xiCO2k commented on #2
Hey @AngelOD not related at all, still had not the time to handle your case completely.

Sorry about that.

[2022-01-11 21:32] xiCO2k commented on #2
Hey @aczyt I also replaced the dash with an underscore on `loadLanguageAsync` so if you try to load a language called `en-GB.json` it will look for `en_GB.json`. Hope that helps.

Thanks

[2022-01-11 21:33] xiCO2k commented on #4
Hey @paulocastellano there is no support for that, if you want to contribute with that will be glad to review it.

Thanks.

[2022-01-11 21:33] #4 closed

[2022-01-11 21:38] #3 closed

[2022-01-11 21:40] xiCO2k commented on #3
v0.5.0 should have the support for the SSR.

Let me know if that works.

[2022-01-11 21:40] xiCO2k opened #6 "vite: module does not provide an export named 'i18nVue'"
Also: after upgrade from 0.2.1 to 0.4.1:

`Uncaught SyntaxError: The requested module '/node_modules/.vite/laravel-vue-i18n.js?v=4bc78461' does not provide an export named 'i18nVue'`

This happened with v3 also, rolling back to 0.2.1 it works again.

_Originally posted by @ibrunotome in https://github.com/xiCO2k/laravel-vue-i18n/issues/3#issuecomment-1008974849_

[2022-01-11 21:41] xiCO2k commented on #6
@ibrunotome can you share the vite configuration?

Can't find a way to replicate this one.

[2022-01-11 21:43] paulocastellano commented on #4
@xiCO2k I will make it local, if works I send PR.

[2022-01-11 21:43] xiCO2k commented on #4
Awesome Thanks

[2022-01-11 23:17] ibrunotome commented on #3
yep, builded successfully. Thank you!

[2022-01-11 23:32] xiCO2k commented on #3
Awesome! let me know about the export named issue

[2022-01-11 23:32] ibrunotome commented on #6
Sure, tested with v0.5.0 too:

My `vite.config.js`:

[code]

My `resources/scripts/app.ts`

[code]

My `package.json`

[code]

I'm getting an entire blank screen with the error:

<img width="1727" alt="Screen Shot 2022-01-11 at 20 30 51" src="https://user-images.githubusercontent.com/4256471/149037647-033c4162-7df2-4d5c-a730-d850e05abb50.png">

And it works normally if I rollback to v0.2.1

[2022-01-11 23:35] xiCO2k commented on #6
Thanks, will debug it and get back to you.

[2022-01-11 23:45] xiCO2k commented on #6
@ibrunotome can you go under`node_modules/laravel-vue-i18n/dist/index.js` and check on the bottom of the file for the:

[code]

Let me know if that is in there? If not can you check your `node` version?

Thanks

[2022-01-12 00:23] ibrunotome commented on #6
Yes, is there at line 129

My node is v17.3.0

[2022-01-12 00:25] ibrunotome commented on #6
The presentation of the error on safari is a little different, but with the same blank screen.

<img width="382" alt="Screen Shot 2022-01-11 at 21 24 55" src="https://user-images.githubusercontent.com/4256471/149042168-aa5f602a-c2ed-49f5-8630-ee2861f6501d.png">

[2022-01-12 00:55] aczyt commented on #2
Thank you! @xiCO2k ,Now it works.

Sorry @AngelOD , at first I thought we had the same problem, so reply here.😄

[2022-01-12 01:44] ibrunotome commented on #6
That's the content of .vite/laravel-vue-i18n.js of v0.2.1

[v0.2.1.zip](https://github.com/xiCO2k/laravel-vue-i18n/files/7850982/v0.2.1.zip)

And for v0.5.0

[v.0.5.0.zip](https://github.com/xiCO2k/laravel-vue-i18n/files/7850991/v.0.5.0.zip)

[2022-01-12 17:07] xiCO2k commented on #6
yes the problem was the change to compile with "node12"

[code]

That's needed to have the `defaultResolver` with the import (introduced in v0.3.0).

Trying to find a way to have it working well with vite and webpack.

Will keep you posted.

[2022-01-18 09:35] xiCO2k commented on #6
Hey @ibrunotome can you check with v1.0.0, had to remove the defaultResolver in order to support both Laravel 8 an Laravel 9, lang path.

It also should fix your issue.

Let me know if it works.

[2022-01-18 09:39] xiCO2k commented on #2
Hey @AngelOD can you check if you have the same issue with v1.0.0?

Thanks.

[2022-01-18 11:25] AngelOD commented on #2
Hey @xiCO2k. I just did and unfortunately it's still giving me the same issue. However, I think it has to do with the way the languages are loaded, because while this:

[code]

Gives me the incorrect response, the following _will_ print the correct line:

[code]

[2022-01-18 11:34] xiCO2k commented on #2
Yes with the `defineComponent` it runs before it loads the language file.

Can you try with the require instead of the import?

[2022-01-18 14:12] AngelOD commented on #2
Absolutely. So I changed the plugin use statement to:

[code]

Which compiles fine with Laravel Mix, but gives me the following error in the browser's console:

[code]

[2022-01-18 14:19] xiCO2k commented on #2
Thanks for debugging it: try this:

[code]

[2022-01-18 14:42] AngelOD commented on #2
That gets rid of the error message, but gives the same result as an import statement.

I wonder if it could be solved somewhat easily with an `isLanguageLoaded` function (or even `onLanguageLoaded` lifecycle function), to only execute calls to `trans` and such after the language has, well, been loaded?

[2022-01-18 14:44] xiCO2k commented on #2
Yes that could be a good option, I also can try return a `vue` ref() that will trigger the update when its available.

Thanks again @AngelOD

[2022-01-19 00:02] ibrunotome commented on #6
Yes, it worked! Thank you for spend your time with this.

[2022-01-19 00:06] xiCO2k commented on #6
Awesome!

[2022-01-19 00:06] #6 closed

[2022-01-25 10:34] phh opened #8 "Vapor support"
Hi there,

Is there any way of using this package together with [laravel-vapor](https://www.npmjs.com/package/laravel-vapor) to support the replaced URL's with the CDN instead?

[2022-01-25 11:44] julianlaibach commented on #8
I think the following snippet (must be inserted in your webpack.mix.js) should solve this Problem it sets the correct Asset Url from the production .env file to be used. Its not tested yet.

[code]

[2022-01-25 11:46] phh commented on #8
Currently trying that but seems like it's still trying to use the same URL rather than the CDN.

[2022-01-25 12:24] phh commented on #8
Well. Vapor staging was running `npm ci && npm run dev && rm -rf node_modules` instead of prod. This fixed it!

Thanks!

[2022-01-25 12:24] #8 closed

[2022-01-25 13:08] xiCO2k commented on #8
Thanks @julianlaibach

[2022-01-26 07:19] ckyoung opened #9 "HTML lang attribute value should use a hyphen instead of an underscore"
When using a language that differ by territory like `zh-TW` the plugin seems to reset the HTML lang attribute to underscore version.

Screenshot:
![Screen Recording 2022-01-26 at 03 22 02 PM](https://user-images.githubusercontent.com/7137740/151120282-93e03d15-866a-49fc-89fb-c61356b315a1.gif)

`<html lang="zh_TW">`

Should really be:

`<html lang="zh-TW">`

Ref: https://tools.ietf.org/html/rfc5646

[2022-01-26 09:57] NaincyKumariKnoldus commented on #9
Hey @ckyoung I have raised a PR for this. Please review that!

[2022-01-26 11:06] #9 closed

[2022-01-29 18:52] AGhorabHekouky commented on #2
yeah i had the same issue @AngelOD so just wanted to share my solution and for any one visiting this issue until there is a better fix for it :).

also I'm open if you have better ideas as well.

i just depend on a certain key from my own side "about_us" to check if the translation is loaded or not?
if a utility method introduced like is_loaded() ? would replace that line.

[code]

[2022-01-29 21:01] xiCO2k commented on #2
Hey @AngelOD and @AGhorabHekouky just released a new version with the `isLoaded` method.

[2022-01-29 22:34] #2 closed

[2022-01-30 09:32] A-Ghorab commented on #2
do you think i should create a new transRef function that returns ref instead of string as a utility function?

i can work on it later today it might help with closing this function entirely what do you think ?

[2022-01-30 13:23] xiCO2k commented on #2
I think that could be a good option, will review it. Thanks

On Sun, 30 Jan 2022 at 09:32 Ahmed Ghorab ***@***.***> wrote:

[2022-01-31 10:15] A-Ghorab commented on #2
@AngelOD you can use `wTrans()` now instead of `trans()` it should work correctly for you no more need for `trans_ref()` fix.

[2022-02-03 09:07] AngelOD commented on #2
@xiCO2k and @A-Ghorab
Awesome! Thank you both of you. 😄

[2022-02-05 22:24] DanielvdSpoel opened #14 "Support for php translations files?"
Is ther support for php translations files? All the examples i saw are using .json files

[2022-02-07 12:12] xiCO2k commented on #14
I really want to have a loader to add the support for `.php` files, unfortunately I did not had the time to do it.

Feel free to contribute, I would love that.

Thanks

[2022-02-10 12:55] davidtovt opened #15 "Cannot load language files"
Hello,

Why I get the following error?

[code]

The resources/lang/en.json file exists.

[2022-02-10 14:13] xiCO2k commented on #15
Hey @davidtovt are you using webpack?

Also can you share the code where you import the code?

[2022-02-10 16:56] xiCO2k commented on #15
Weird case, try this since I miss the $ sign

[code]

[2022-02-10 17:01] davidtovt commented on #15
It is not working.

In laravel-vue-i18n/src/index.ts there is a line which not used anywhere:
`import { LanguageJsonFileInterface } from './interfaces/language-json-file'`
It is not problem?

[2022-02-11 10:42] DanielvdSpoel commented on #14
Can you maby point me to the direction where the .json files are loaded? Can't seem to find the part that is responsible for it

[2022-02-14 21:36] MeesPos opened #16 "Ability to split language file into multiple objects"
Is it possible to divide a translation file into multiple objects. So as an example:
`
"home": {
        "header": {
            "test": "test"
        },
        "description": "description"
    },
    "about-me": {
        "test": "test"
    }
}
`

And that you can then call those keys with `$t('home.header.test')`?

If this isn't possible yet, isn't that an idea for a new feature?

[2022-02-14 21:37] MeesPos opened #17 "Ability to use a folder with language files instead of 1 file"
Is it possible to create a folder for a language, and that you can put multiple translation files in it?

[2022-02-14 21:43] #15 closed

[2022-02-14 21:44] xiCO2k commented on #17
Hey @MeesPos, if you have something like that on a .json file on Laravel it will work? If so we can add that as new feature.

Thanks.

[2022-02-14 23:41] MeesPos commented on #17
Yes, here is an example:

![image](https://user-images.githubusercontent.com/35431488/153965303-7dc912cb-1bfd-4e52-ade7-b23b1eb5d931.jpeg)

This is what you get when you init Laravel in your project.

Now you can get a translation with the following code: `__('auth.test')`.

[2022-02-14 23:59] xiCO2k commented on #17
Yes with the php files, that is a feature needed to implement, to add a loader to transform the .php lang files to .json to be readable from the frontend.

But for the .json lang files I'm not sure if the multi level is supported (never tried).

[2022-02-22 09:53] fgd007 commented on #2
As a Vue3 user I have a similar issue as OP had, but the none of the proposed solutions works for me.

I'm trying to use the `trans` or `this.$t()` function in `data()` or `mounted()` but I don't get it to work. It just doesn't load the right language strings, it just outputs the key.

Probably this has to do with the language file not being loaded yet, but this seems such a default use case that

[2022-02-22 09:56] A-Ghorab commented on #2
mind sharing the code ?

since the method wTrans is implemented it always shows the correct translation for me.

[2022-02-22 10:25] fgd007 commented on #2
@A-Ghorab yes, sure:

**Simplified App**

[code]

**Simplified component**

[code]

[2022-02-22 10:35] A-Ghorab commented on #2
ok it won't work that way

try this way

[code]

this should do a ref instead of a simple string to watch for any changes and update it automatically which would fix the issue related to loading the files later on or changing the current language .

[2022-02-22 11:36] fgd007 commented on #2
Yes this makes sense. And it works!

Thanks a lot

[2022-02-22 11:45] xiCO2k commented on #2
Thanks for the help debugging @A-Ghorab 💪.

[2022-02-26 13:08] #17 closed

[2022-02-26 13:09] xiCO2k commented on #16
@MeesPos will be working to add a loader to transform the php lang files into json

[2022-02-26 13:09] #16 closed

[2022-03-10 10:05] fgd007 opened #18 "Cannot find module in Inertia SSR context"
Thanks for the great package!

I'm trying to get it to work in a VILT stack with InertiaJS SSR feature, but I run into issues unfortunately.

One of the issues is that the package seems to work well on the client side, but when I run it on a node server it cannot find the language files. It seems to be looking for the files in the root of the app, and not in the /public folder.

[code]

I use this

[2022-03-10 13:46] xiCO2k commented on #18
Hey @fgd007, thanks for the feedback, for SSR you will need to use `require` instead of `import`, and that should solve it.

Let me know if that fixes.

Thanks

[2022-03-10 14:22] fgd007 commented on #18
Hi Francisco, thanks for the quick reply!

I tried that but it throws a `TypeError: options.resolve(...).then is not a function`-error.

I tried this, and numerous variations on it, but to no avail. I'm clearly missing something, but not sure what.

[code]

[2022-03-10 16:47] xiCO2k commented on #18
try this: `resolve: (lang) => new Promise((resolve) => resolve({ default:  require(`../lang/${lang}.json`) }))`

If that works will try to solve it on the package directly.

[2022-03-12 19:01] xiCO2k commented on #18
Hey @fgd007 just publish a new release that will handle the require well, checkout the example on the `README.md`.

[2022-03-21 20:51] alkrauss48 commented on #2
The tl;dr that worked for me after going through this thread is to change your `trans` function calls to `wTrans`:

[code]

[2022-03-23 04:27] xiCO2k commented on #14
Hey @DanielvdSpoel just publish a new version (v1.4.0) that adds the support for `.php` files.

Thanks for the feedback.

[2022-03-23 04:27] #14 closed

[2022-04-06 19:43] nathanwalasek opened #23 "Webpack is not generating PHP language files"
I'm following your instructions to have Webpack process the PHP language files (located in my /resources/lang/ directory for Laravel < v9.0)

I have this at the top of my webpack.mix.js file:
`const mix = require('laravel-mix');
require('laravel-vue-i18n/mix');`

And I'm using the plugin like so:
`.i18n('resources/lang')`

Webpack compiles successfully but it does not process my PHP language files

[2022-04-06 21:42] xiCO2k commented on #23
Hey, inertia.js is not required, can you show me the `.use(i18nVue` part on your app? Thanks

[2022-04-06 21:55] nathanwalasek commented on #23
Yes! Thank you for the quick reply:
[code]

I have been able to successfully use the XX.json files in my components like this:
`{{ $t('Hello') }}`
and
`trans('Hello')`

However, using the PHP files like `trans('auth.failed')` does not work (it simply outputs 'auth.failed')

I believe it's because the plugin in Webpack is either not running correctly, or is not able to access my PHP language files

[2022-04-07 00:58] xiCO2k commented on #23
The issue is probably related with not being able to get the `php` files.

Can you go under the the `node_modules/laravel-vue-i18n/dist/mix.js`, search for `this.langPath = ` and add a `console.log(this.langPath);` on the line right after.

Go ahead and run the build, then can you make sure the `langPath` is correct and share the output of the log with me?

Thanks.

[2022-04-07 14:01] nathanwalasek commented on #23
I apologize, the issue seems to have worked itself out. Yesterday I had uninstalled laravel-vue-i18n to try a different approach, and just now re-installed to troubleshoot after I received your reply.

I ran the build and this time, it is processing the PHP files:
[code]

I'm not sure what the original issue was, but thanks again for your help!

[2022-04-13 18:37] mreduar commented on #2
This problem appears to be more complicated than it seems.
Sometimes `trans` works, while `wTrans` does not. And sometimes `wTrans` works but `trans` does not. In some cases the `wTrans` I have to extend the `value` i.e. `wTrans('Hello!').value` for it to work, while sometimes `wTrans('Hello!')` is enough. It's very strange all this and I've been dealing with this problem for hours. Ideally, `tran

[2022-04-13 18:42] A-Ghorab commented on #2
care to share your code

basically you need to use wTrans if you are outside the template and you need to be sure to wrap it with computed to handle complex scenario

i'm using it with vuelidate and providing the translations to the validation and it's working 100% of the times.

[2022-04-24 10:32] rafalglowacz opened #24 "Concatenation in PHP language files causes an error in the loader"
If I have a translation file like this:

[code]

then I get the following error when running `npm run dev`:

After removing `.` and turning the translation into a one-line string the problem disappears, but that's a workaround. Looking at the loader's source it seems that it might not be an easy fix, each part of the string is a separate item so they'd have to be buffered until the entire string i

[2022-04-24 18:38] rafalglowacz commented on #24
I took a crack at it and it turned out to be an easy fix. I've created a PR (#25).

[2022-04-25 01:49] xiCO2k commented on #24
Thanks for the PR @rafalglowacz really appreaciate!

[2022-04-25 01:49] #24 closed

[2022-05-10 15:52] stevebauman opened #26 "Resolve callback is required with Laravel Mix Plugin"
Hi @xiCO2k, thanks for the great plugin! 🙏

I'm wondering if/why the resolve callback is required even if we use the Laravel Mix plugin to import PHP files?

Is it possible to make this optional if my application only utilizes PHP based language files?

Thanks again for your time!

[2022-05-10 15:54] xiCO2k commented on #26
Definitely something I should look on it. Great suggestion 💪.

Will dig in on that.

[2022-05-10 15:56] stevebauman commented on #26
Awesome, thank you for the quick reply! 🙏

[2022-05-13 22:54] ali-salavati opened #27 "Incompatibility with themer library"
Hello
I'm using the qirolab/laravel-themer library. In this case, the translation files are created in public/themes/{them-name}/js instead of in the public/js. So in order for the text in the components to be translated correctly, I have to manually copy and paste the files.

[2022-05-13 23:17] xiCO2k commented on #27
Hey @ali-salavati can you share where you are using the plugin?

Thanks.

[2022-05-20 16:38] #27 closed

[2022-05-24 18:42] zdarin opened #28 "Register Globally"
Hi,

Im would like to make this plugin globally but something wrong not working can you help ??
Im trying to set but blank page appears

[code]

[2022-05-24 20:13] xiCO2k commented on #28
Hey @zdarin I dont think that is the right way to implement mixins, check here: https://vuejs.org/api/options-composition.html#mixins

also you have `$t('string')`  available on the templates globally.

[2022-05-24 20:13] #28 closed

[2022-05-25 06:43] zdarin commented on #28
thx

[2022-06-09 19:19] Ulrich15 opened #30 "Infinite laravel mix alert in run watch"
Hi @xiCO2k , Thanks you for this helpful librairie.

But i face some issues. I install the librairie with Laravel and Vue3, in combinaision with LaravelMix. When i launch **npm run watch**, i'm pop with a ton of Laravel Mix alert of successful compilation. I don't know why. Thanks

[2022-06-10 00:23] xiCO2k commented on #30
Thanks for reporting the issue! will definatelly take a look on that.

[2022-06-16 09:11] eminos opened #31 "This package or vue-i18n? Can't use both?"
I was using the vue-i18n package primarily to format number strings.
https://vue-i18n.intlify.dev/
It seems I can't use both this package and vue-i18n since the APIs overlap somewhat (both use $t() helper for example).

Should I ditch vue-i18n and use something else for number formatting? Or is there some solution to be able to use both these packages? What are the advantages of `laravel-vue-i18n`

[2022-06-16 13:22] xiCO2k commented on #30
Will try to find a solution for that, during the weekend, sorry for the delay.

[2022-06-16 13:24] xiCO2k commented on #31
I don't think you should mix both plugins together.

if you can, just use the `larave-vue-i18n` for both things.

[2022-06-16 13:24] #31 closed

[2022-06-16 14:18] eminos commented on #31
But `laravel-vue-i18n` doesn't do number formatting, right?
https://vue-i18n.intlify.dev/guide/essentials/number.html
It's not using `vue-i18n` under the hood or something?

[2022-06-16 15:11] xiCO2k commented on #31
nope, but that could be a feature to be added.

Thanks for the input @eminos 💪

[2022-06-18 22:16] xiCO2k commented on #30
@Ulrich15 and @eminos having trouble replicating this case, can you share your webpack.mix.js file?

Thanks.

[2022-06-23 16:47] Ulrich15 commented on #30
@xiCO2k Morning
Nothing new yet ?

[2022-06-23 16:49] xiCO2k commented on #30
Sorry @Ulrich15 did not found the time work on it, can you use `disableNotifications()` on mix for now?

Thanks

[2022-06-24 09:53] xiCO2k commented on #30
Hey @Ulrich15 how many langs do you have on your app?

Thanks.

[2022-06-24 10:44] xiCO2k commented on #30
Figure it out, should work now on `v1.4.4`

[2022-06-27 06:29] PetroGromovo opened #32 "I failed to change locale to "en"..."
I need to add i18n support in Laravel 9/Inertiajs2/vuejs3 app and I try to use
  "laravel-vue-i18n": "^1.4.4". I added 2 dirs AppPath[/lang/en](file:///_wwwroot/lar/TodoList/lang/en) and  AppPath/lang/ua
and in resources/js/app.js I added i18n support :

[code]
and in webpack.mix.js :
[code]
As result I have 2 generated files in public/js/lang_php_en_json.js  and public/js/lang_php_ua_json.js with

[2022-06-27 10:36] Ulrich15 commented on #30
Ah ok, let me try it

[2022-06-27 18:22] Ulrich15 commented on #30
the name i puted is `fr `and `en`

[2022-06-28 11:08] xiCO2k commented on #32
Hey Petro yes, since you are doing that with an AJAX request, you may need to use the: [https://github.com/xiCO2k/laravel-vue-i18n#loadlanguageasynclang-string](loadLanguageAsync) functions as it is shown on the README.

If you want to control all from the backend you just need to make sure the `<html lang="">` is set to the correct one.

Hope that helps.

[2022-06-28 11:08] #32 closed

[2022-06-28 11:10] xiCO2k commented on #30
@Ulrich15 sorry to bother you, can you send me a picture of the build?

Like this one:
<img width="1781" alt="image" src="https://user-images.githubusercontent.com/823088/176164835-562efeb2-d18e-4710-b011-5a3aa149bc54.png">

Just to see if I can figure what is the issue still, thanks.

[2022-06-28 12:15] Ulrich15 commented on #30
Hi @xiCO2k
No worry, happy to help to resolve some problems
There is the image of my complitation.

Just for informatio, when i run `npm run watch` for the first time, laravel mix just toast one time, but when i update de code, now it toast ever and ever.
 Thanks 🙏

![image](https://user-images.githubusercontent.com/60409730/176174823-a0a1c5e3-93d7-4ec5-91d8-7bb1fe0b0af9.png)

[2022-06-29 21:31] eminos opened #33 "Translations with multiple words don't work"
I have a strange issue where translations that have multiple words don't load. Only single word translations load.

I'm using Vite and the new laravel-vite-plugin like this:
[code]

I don't like the flash of untranslated text when loading them async, so I do that instead. This part seems to work fine!

What's strange is the exported/loaded translation file looks like this:
![image](https://user-im

[2022-06-29 21:40] eminos commented on #33
Hmm. I figured it out I think.
Doing this instead works:
[code]
Notice the `.default`

[2022-06-29 21:48] xiCO2k commented on #33
Awesome, nice find. Any issue let me know

[2022-06-29 21:48] #33 closed

[2022-07-03 05:02] sergeynilov opened #34 "How can I show date/datetime values ?"
Hello! Thanks for your work !
Working with xiCO2k/laravel-vue-i18n (1.4.4) I did not find how can I show date/datetime values in
formats like “25 June, 2022 5:54 PM” and “2 days ago” ?

[2022-07-03 14:21] thiago-tanaka opened #35 "spark folder is causing webpack compile error"
Hello, thank you for this library

this folder "spark" is causing an error
![image](https://user-images.githubusercontent.com/87078843/177043834-89f0642f-03cd-47ca-a8df-e219e5fe5974.png)

this is this error
![image](https://user-images.githubusercontent.com/87078843/177043913-45d81adb-c8be-4eba-8b2f-aa22a2bfb5d8.png)

is there any way to ignore this folder completely??

[2022-07-03 14:33] xiCO2k commented on #35
Really interesting. will add a way to ignore certain folder names

[2022-07-03 14:34] xiCO2k commented on #34
For that I normally use something like `moment`.

Thanks

[2022-07-03 14:34] #34 closed

[2022-07-04 00:56] thiago-tanaka opened #36 "how to use fallback locale?"
hello,
how to configure fallback locale?

[2022-07-04 12:04] xiCO2k commented on #36
We did not configure the fallbackLocale on this package, but can you provide a good use case for that?

Thanks.

[2022-07-05 12:05] thiago-tanaka commented on #36
Hi,
when the translation is defined, it works as expected.
![image](https://user-images.githubusercontent.com/87078843/177322899-e7620e97-b6dc-4917-a9b6-ed917955b353.png)

but when translation is not defined it doesn't get translation from fallback locale, like standart laravel localization does.
![image](https://user-images.githubusercontent.com/87078843/177323158-2ae9d026-2217-41d5-91d0-59da2a97

[2022-07-06 14:50] xiCO2k commented on #36
Thanks for the issue, it will be released in the version `2.0.0`, probably tomorrow morning 💪

[2022-07-06 20:18] #35 closed

[2022-07-07 00:36] thiago-tanaka commented on #35
thank you so much :)

[2022-07-07 00:37] thiago-tanaka commented on #36
thank you so much :)

[2022-07-07 00:47] xiCO2k commented on #35
Is now available on `v2.0.0`

[2022-07-08 00:12] ipimpat opened #40 "Translation not working when using v1.4.4 or v2.0.0"
I can't get translation to work using latest two releases of this package (v1.4.4 or v2.0.0), but v1.4.3 does seems work with the setup below.

When using v1.4.4 and v2.0.0, the $t() function does not translate the given string and the isLoaded function always returns false, but if I replace either of those versions with v1.4.3, then the isLaoded function returns true and translation works.

There

[2022-07-08 10:34] xiCO2k commented on #40
Hey @ipimpat can you provide me the lang folder names to see if I can find any issue on that?

Thanks.

[2022-07-08 10:52] xreal opened #41 "Vite Message: laravel-vue-i18n doesn't appear to be written in CJS"
Hi @xiCO2k,
i migrated yesterday to the Vite Integration. Everything's seems fine. Thanks for the fast adaption.

I noticed this message when use "vite build --ssr".

[2022-07-08 10:53] xiCO2k commented on #41
Thanks for the feedback @xreal

Will try to figure that one out.

[2022-07-09 12:06] PetroGromovo opened #42 "How to use $t inside of computed ?"
In Laravel 9 / vuejs 3 with Composition API app I use “this” when I need to get label in current locale
withing js script of form request :

[code]
But I failed to make similar way when using $t inside of computed :

[code]
In which way can I get valid context and use $t inside of computed ?

Thanks in advance!

[2022-07-11 14:34] tomcoonen opened #43 "Support for subdirectories in the `lang` folder"
At the moment there seems to be no support for language files in subdirectories, would this be something you would like to add?
If so I'm willing to draft a PR for this.

[2022-07-11 18:51] xiCO2k commented on #43
Sure thing, please go ahead.

[2022-07-12 16:02] #43 closed

[2022-07-12 16:03] xiCO2k commented on #42
you can use the `wTrans` method inside a `computed`.

[2022-07-13 14:52] xiCO2k commented on #40
Thanks for the follow-up, and if you can check what you have on the `<html lang="">` tag, would be great.

[2022-07-16 20:50] ibrahimRezk opened #45 "how to change active lang to the new locale"
hello
i'm using the package and i can chang locale and files comes from Lang folder  can be changed to the new locale when using loadLanguageAsync()  function but i can't chang active lang  , it  is always 'en'
 also any translated data comming from database remain the same in english not to the new locale
i am using astrotomic laravel translatable
i tried to change locale in config/app manually t

[2022-07-19 10:15] xiCO2k commented on #45
if you pass the attribute lang on your `<html>` tag.

like `<html lang="{{ app()->getLocale() }}">` it should follow what `lang` you have set on the backend side.

[2022-07-19 10:15] #45 closed

[2022-07-19 14:17] #41 closed

[2022-07-19 14:28] xiCO2k commented on #41
Thanks @xreal for the feedback, should be solved now.

[2022-07-21 12:45] xiCO2k commented on #26
Hey @stevebauman after digging it a lot on that, can't find a good way to have it full working.

If all the lang's are generated to the final build it can work, but if we want to use the lazy load when switching lang's, the import  needs to be on the client side 😞 .

[2022-07-21 12:45] #26 closed

[2022-07-21 13:50] xiCO2k commented on #40
Hey @ipimpat any follow up?

[2022-07-21 13:51] xiCO2k commented on #30
Hey @Ulrich15 any follow up on the issue?

[2022-07-21 14:27] ipimpat commented on #40
The lang attribute is set to `en`

[2022-07-21 17:09] rachids opened #47 "Keys printed instead of translations with Inertia"
Hello,

Thanks for this package!

Basically, my problem is that when I invoke `$t('auth.failed')` in my templates, all I get is the key `auth.failed` which validates that the package is working but it doesn't seem to be able to find the proper key in my json file.

I have scratched my head really hard on this, read both closed and opened issues and can't find a solution so I turn to you to help me

[2022-07-21 23:35] stevebauman commented on #26
No worries man, thanks for following up 😄 ❤️

[2022-07-22 10:27] xiCO2k commented on #47
Hey @rachids will take a look on that, since I did focus a lot of my time on vite integration, it may have an issue, will take a look on that and let you know.

[2022-07-22 10:53] xiCO2k commented on #47
Hey @rachids, did not found any issue.

Just created this repo: https://github.com/xiCO2k/laravel-vue-i18n-webpack-app with Jetstream and webpack, let me know if it gives the same error for you.

[2022-07-22 22:52] ahuininga opened #48 "Generate translations when using vite"
Hi,

I'm using a new Laravel Jetstream application and am using vite. I've followed the readme, but the language json files aren't generated when running 'npm run build' (or npm run dev)

Which command should I run to generate the language json files?

[2022-07-22 23:00] andrey-helldar opened #49 "Cannot read properties of undefined (reading 'VITE_LARAVEL_VUE_I18N_HAS_PHP')"
- laravel-vue-i18n - 2.1.1
- vite - 2.9.9
- vuejs 3.2.25
- node 16.16.0
- without laravel

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/10347617/180578306-75ceb7e5-dde2-4c32-9fd9-6519e001daf5.png)

Result: not working

![image](https://user-images.githubusercontent.com/10347617/180578509-1883480f-d066-4271-a7a8-ac9fc6583515.png)

If we add output to the console, we se

[2022-07-22 23:04] xiCO2k commented on #49
Hey @andrey-helldar can you show me your `vite.config.js` file. Thanks.

[2022-07-22 23:05] xiCO2k commented on #48
Hey @ahuininga, can you show me your `vite.config.js` file and your `app.js` file.

Thanks.

[2022-07-22 23:08] andrey-helldar commented on #49
Fix for this error:

[code]

[2022-07-22 23:08] andrey-helldar commented on #49
My `vite.config.ts` is:

[code]

[2022-07-22 23:11] andrey-helldar commented on #49
I don't use Laravel in this project (this project only contains the frontend), so I didn't define the `i18n` plugin as the readme says it's for Lara.

![image](https://user-images.githubusercontent.com/10347617/180579357-4705bc23-d20d-4f24-ae5f-8fa9bdc27431.png)

[2022-07-22 23:15] xiCO2k commented on #49
got it, that is an interesting use case, for sure will need to dig in more.

So you are just using the `*.json` lang files right?

[2022-07-22 23:19] andrey-helldar commented on #49
Yes

https://github.com/volunteers-crm/web

[2022-07-22 23:19] xiCO2k commented on #49
Can you try set on your `package.json` file

[2022-07-22 23:20] andrey-helldar commented on #49
You probably didn't notice the comment [`above`](https://github.com/xiCO2k/laravel-vue-i18n/issues/49#issuecomment-1192996848).

Bug fixed by adding `i18n()` call to `vite.config.ts` file.

Thank you!

[2022-07-22 23:21] andrey-helldar commented on #49
Yes, I can

[2022-07-22 23:24] andrey-helldar commented on #49
1. Removed `node_modules` and `package.lock`
2. Replace ` "laravel-vue-i18n": "^2.1.1"` with `"laravel-vue-i18n": "github:xiCO2k/laravel-vue-i18n"`
3. Run the `npm i` console command.
4. Check in browser
5. I see the error

![image](https://user-images.githubusercontent.com/10347617/180580097-dec6c364-e9f5-4082-b7ac-5ef8efb3ae34.png)

[2022-07-22 23:25] xiCO2k commented on #49
really interesting case, will try to debug.

Thanks for all the help @andrey-helldar.

[2022-07-22 23:31] andrey-helldar commented on #49
Next steps:

1. Go to `node_modules/laravel-vue-i18n/dist/cjs/utils/has-php-translations.js:22`
2. Replace line with `return typeof process.env?.VITE_LARAVEL_VUE_I18N_HAS_PHP !== 'undefined' && process.env?.VITE_LARAVEL_VUE_I18N_HAS_PHP ? true : false;`
3. Restart `vite`
4. Go to `node_modules/laravel-vue-i18n/dist/utils/has-php-translations.js:9`
5. Replace line with `return typeof import.meta.en

[2022-07-22 23:38] andrey-helldar commented on #49
I was wrong. The problem is not solved :)

I forgot that I just changed files 😅

https://github.com/volunteers-crm/web/blob/main/vite.config.ts
[code]

https://github.com/volunteers-crm/web/blob/main/src/utils/lang.ts
[code]

https://github.com/volunteers-crm/web/blob/main/.env.example#L3
[code]

And error)

![image](https://user-images.githubusercontent.com/10347617/180580798-bcef23a2-e83e-4605-a

[2022-07-22 23:55] andrey-helldar commented on #49
![image](https://user-images.githubusercontent.com/10347617/180581639-a93cc8c6-5308-4b93-8b2a-b520e4f08dab.png)

It's a simple: `import.meta.env` is undefined

[2022-07-22 23:59] andrey-helldar commented on #48
@ahuininga, you can also use the [publisher.laravel-lang.com](https://publisher.laravel-lang.com/installation/)

[2022-07-23 00:23] xiCO2k commented on #49
Thanks for the PR, can you try again, and let me know?

[2022-07-23 09:26] ahuininga commented on #48
Vite config

https://github.com/ahuininga/mountain/blob/cd6d01a20e5f9e353efbf55a3bf31be350078e2e/vite.config.js#L1

App.js

https://github.com/ahuininga/mountain/blob/cd6d01a20e5f9e353efbf55a3bf31be350078e2e/resources/js/app.js#L1

[2022-07-23 10:21] andrey-helldar commented on #49
If we add the `VITE_LARAVEL_VUE_I18N_HAS_PHP` variable key to the env file, then everything works. Everything works without it too.

![image](https://user-images.githubusercontent.com/10347617/180601035-1436f081-0c22-4c8b-9020-5b17480c9165.png)

Thank you!

[2022-07-23 10:21] #49 closed

[2022-07-23 13:03] andrey-helldar opened #51 "[2.x] Vulnerabilities founded"
[code]

After executing the `npm audit fix --force` command in the `package.json` file, the version of the `laravel-vue-i18n` dependency has changed to `^1.4.3`

[2022-07-23 23:27] andrey-helldar commented on #49
By the way, so that the application does not load extra localizations during compilation, you can change the configuration:

### before
[code]

### after
[code]

[2022-07-24 03:04] xiCO2k commented on #49
So after the merge you got not problem?

[2022-07-24 03:06] xiCO2k commented on #48
Thanks, will debug that.

[2022-07-24 09:06] andrey-helldar commented on #49
When I wrote the code, there were no problems, but yesterday I could not check because npm and yarn gave an error installing dependencies when deleting the node_modules folder. I'll try again today.

[2022-07-24 10:33] andrey-helldar commented on #49
It's works:

![image](https://user-images.githubusercontent.com/10347617/180643156-fe8161b3-ae79-4ce1-a2ff-f93ae11789af.png)

[2022-07-24 17:26] xiCO2k commented on #49
Awesome, will tag it

[2022-07-24 22:34] #51 closed

[2022-07-25 13:50] rachids commented on #47
Hello @xiCO2k

Thank you for taking the time to try it out. I'll checkout your repo later today and check what you did that I missed.

[2022-07-25 14:16] xiCO2k commented on #48
Hey @ahuininga, after debugging, looks like you are using the SSR Implementation and that is nothing wrong with that, but there will be no .json files generated.

You can use this `https://github.com/xiCO2k/laravel-vue-i18n#with-vite` with the `glob` instead of `globEager`.

Thanks.

[2022-07-25 14:16] #48 closed

[2022-07-25 14:16] xiCO2k commented on #40
Hey @ipimpat can you try the latest tag?

[2022-07-25 23:21] rachids commented on #47
I checked out your repository, I added some keys and it works flawlessly.

I triple-checked every config file in my project and I'm 100% sure I did the right things, but still, doesn't work. Maybe I messed up my webpack config by installing Storybook and doing some weird vaudoo stuff only frontend devs understand..

Anyway, I fixed the translations by migrating from webpack to Vite and now it work

[2022-07-25 23:21] #47 closed

[2022-07-27 12:07] ipimpat commented on #40
Seems to work now

[2022-07-27 12:07] #40 closed

[2022-07-27 16:04] Ulrich15 commented on #30
Hi @xiCO2k , Hoping you are good.
I updated the library to `version 2.1.3`, and when i run the `npm run watch` , i faced the same issues. Thanks

[2022-07-27 16:07] xiCO2k commented on #30
Hey @Ulrich15 will need to test this out on windows can't replicate that on Mac or Linux. Will dig in on that, thanks for all the patience

[2022-08-03 09:19] Metilar opened #53 "Support json with nested structure"
Vue i18n supports json with a nested structure.

JSON:
[code]
Template:
[code]

I tried that, but the translation returns the keys.

[2022-08-04 14:19] xiCO2k commented on #53
Hey @Metilar can you check if that works, on the PHP side with the `{{ _('message.hello') }}`?

Thanks for the help.

[2022-08-10 01:42] merkBalevor opened #54 "change locale(question)"
Good day, i try change locale like this:
import { loadLanguageAsync } from 'laravel-vue-i18n';

[code]

And i recive this error:
 Uncaught TypeError: _ctx.loadLanguageAsync is not a function
 Can you please tell me how to change the language?

[2022-08-10 20:54] xiCO2k commented on #54
Hey @merkBalevor cant find any issue with that code, can you share more info on that file code?

Thanks

[2022-08-10 21:00] xiCO2k commented on #53
Hey @Metilar just tested on just the Laravel stack and its not supported.

<img width="1087" alt="image" src="https://user-images.githubusercontent.com/823088/184018869-ac8c61c0-b6ff-4216-b6cf-e31a8238c61f.png">

Since this package follows the i18n rules from Laravel I will not add that for now, if you want to PR that to the Laravel core, then I will be happy to include here.

Thanks.

[2022-08-10 21:00] #53 closed

[2022-08-10 23:25] merkBalevor commented on #54
I'm studying Vue and trying to make a multilingual application, I can't figure out how to do the language change? The documentation says it:

import { loadLanguageAsync } from 'laravel-vue-i18n';

[code]
, but I don't understand how use it, What code to use in the method? I will be very grateful to you if you show an example of a method for changing the language.

My app.blade.php

[code]

My vue.

[2022-08-11 15:20] xiCO2k commented on #54
Hey @merkBalevor, you can check out this repo: https://github.com/xiCO2k/laravel-vue-i18n-webpack-app

I just commited an example of the change lang, any more help let me know.

[2022-08-11 15:20] #54 closed

[2022-08-11 18:30] EdgedSheet opened #55 "TypeError: langs[(("../../lang/" + (intermediate value)) + ".json")] is not a function"
Hi,

I've tried installing this package and followed the documentation for Vite, but I'm getting the following error in the console.
[code]
I am getting this on a fresh installation of Laravel Jetstream and the installation of this package
[code]
[code]
vite.config.js
[code]

app.json
[code]

Am I stupid and am I forgetting something or is something not working properly ?

[2022-08-11 18:34] merkBalevor commented on #54
Thanks, you very help me, its work! I will be 10 times more grateful if it is possible not to reset the language after reloading the page, i.e. save to local storage

[2022-08-12 11:46] xiCO2k commented on #55
Hey @EdgedSheet just created this repo with a vite example, I basically followed all your steps and everything works, check here: https://github.com/xiCO2k/laravel-vue-i18n-vite-app

[2022-08-12 11:51] xiCO2k commented on #54
So for that you can have a method to switch the locale and then on there
you can save to the localStorage and also run the `loadLanguageAsync`.

I would basically do that.

On Thu, Aug 11, 2022 at 7:34 PM merkBalevor ***@***.***>
wrote:

[2022-08-12 11:53] EdgedSheet commented on #55
Exact clone of that repo still gives me it.

![Capture](https://user-images.githubusercontent.com/110625050/184348597-2a130669-4fb6-4070-85a6-777e4728594b.PNG)

[2022-08-12 11:54] xiCO2k commented on #55
When running `vite` or `vite build`?

[2022-08-12 11:56] EdgedSheet commented on #55
Both

[2022-08-12 12:20] EdgedSheet commented on #55
Node version: 18.7.0

Think I already know why it's throwing that error.

This package is generating language files with the `php_` prefix. So on dev you have `php_en.json` and on build you'll have `php_en.4f0daea0.js` for example.

However the lang parameter in de resolve seems to return both `en` and `php_en`. So it's looking for both the files `php_en.json` and `en.json` during the import of wh

[2022-08-15 13:53] ragulka opened #56 "Create multiple instances for different locales?"
I have a use-case where I need to show part of an app in one language, and another part in another language - both being visible at the same time. Would this be possible with this package, somehow? I was hoping I could just create an instance of some sort of i18n class, but it looks like there is no class at all?

[2022-08-16 12:34] ragulka commented on #56
Looking through the source code it seems multiple instances are not possible, not even when creating multiple Vue app instances, as this package maintains a single internal state, which is shared even between different vue app instances, unfortunately. Would you consider refactoring the package in a way that would allow creating different instances of the i18n state, each with its own messages & l

[2022-08-16 14:27] xiCO2k commented on #56
Hey @ragulka, would love to review a PR with that capability.

Thanks

[2022-08-16 14:27] #56 closed

[2022-08-16 15:14] noezdev opened #57 "mix.version"
Using mix.version() will output app.js as the version as desired. But if you include this module here for example with mix.js('resources/js/app.js', 'public/js').vue().i18n().version(); at the end, after entering npm run prod, inside the app.js file are several (1-2) javascript files with seemingly random numbers, e.g. 501.js (without version behind it). In this 501.js file are all the translation

[2022-08-17 11:50] xiCO2k commented on #57
Hey @noezdev you need to set the `chunkFilename` on `webpackConfig` like this:

[code]

[2022-08-17 11:50] #57 closed

[2022-08-18 15:16] macmotp opened #58 "Need assistance to install the package using InertiaJs"
Hello, thanks for the great package, is exactly what I need for my project.

I follow all the installation process but still I am not able to render the translations in the frontend (application using Laravel 9, Vite and InertiaJs - all latest versions).
This is my setup:

_app.js_
[code]

_vite.config.js_
[code]

The build goes fine, I am also able to generate the json file from php, but if I am

[2022-08-18 15:22] xiCO2k commented on #58
Hey @macmotp you can take a look on this demo app I created, it has Jetstream with inertia.

Hope it helps, let me know if there is any question: https://github.com/xiCO2k/laravel-vue-i18n-vite-app

[2022-08-18 15:22] #58 closed

[2022-08-19 02:47] macmotp commented on #58
Thanks @xiCO2k for the reply. I checked my code and I dont see any difference (Im not using Jetstream, that's the only one but I dont think is relevant cmiiaw).

So let me show you my console log, maybe it's more clear for you:

This is where I am logging in _app.js_
[code]

And see the image for the result:
<img width="1434" alt="Screenshot 2022-08-19 at 10 43 54" src="https://user-images.githubu

[2022-08-19 05:28] macmotp commented on #58
Ok so I reinstalled node and yarn from scratch and now magically it works. Javascript magic 😄! Thank you for your support!

[2022-08-30 07:07] vildanbina commented on #55
+1

[2022-08-30 09:37] xiCO2k commented on #55
Hey @vildanbina I could not find a way to replicate this one, but will leave this open.

If you can provide any info, that would be awesome.

Thanks

[2022-08-30 14:01] vildanbina commented on #55
I resolved that issue when I used Server Side Rendering. It didn't work in other ways.

Thank you for response.

[2022-08-31 06:01] EdgedSheet commented on #55
I don’t use this package anymore for my current project as I have dynamic blog
items in my database with languages and I’m pretty sure this doesn’t support retrieving those.

But I tested this for another project where I’m using it, and it does seem to fix it.

[2022-08-31 08:15] scarm01 opened #61 "Does this plugin work with vue3 composition API?"
Same question as in the title. Thank you

[2022-08-31 13:19] xiCO2k commented on #61
Yes works.

[2022-08-31 13:19] #61 closed

[2022-08-31 14:09] #55 closed

[2022-08-31 14:09] xiCO2k commented on #55
Thanks guys!

[2022-09-08 07:27] iMaBo opened #62 "Translation not showing on initial app launch"
Hi,

We recently updated our project to use vite instead of webpack and also modified also our vuejs files to make it compatible, everything is working well except for one thing. Yesterday I noticed that the requested translations did not load on the first load of the project when you refresh or visit the website.

For example when I put the url in my webbrowser and visit it, the translations will

[2022-09-08 12:17] xiCO2k commented on #62
Hey @iMaBo, everything looks good to me, can you check a couple things for me:

* What is the "lang" attribute on your `HTML` tag.
* What version you have installed from the `package.json` file.
* If happens with only `vite` command or it still happens when you run the `vite build`.

Thanks.

[2022-09-08 13:37] iMaBo commented on #62
Hey @xiCO2k

- **What is the "lang" attribute on your HTML tag.**
In the app.blade.php file it is `<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">` this will result in `<html lang="nl">` if visited in the browser.

- **What version you have installed from the package.json file.**
`"laravel-vue-i18n": "^2.1.3",`

- **If happens with only vite command or it still happens when you run t

[2022-09-08 14:13] iMaBo commented on #62
Just updated the package to version `v2.2.1` and deployed it, and it seems to be fixed now.
The translations do get loaded on the initial launch of the app.

Much appreciated for the quick fix 😄

[2022-09-08 14:48] xiCO2k commented on #62
No problem, anytime.

[2022-09-09 21:14] muhammedkaraoglu opened #65 ""npm run build" is slower than "npm run dev""
Hello, first of all sorry for my English, I use google translate.

When I use "**npm run dev**", the translation process is done quickly without any problems, but when I do "**npm run build**", the file `"php_tr.32683819.js`" loads quite late depending on the internet speed. This causes "keys" to appear in the first opening of the page.

![resim_2022-09-10_000114141](https://user-images.githubuser

[2022-09-10 17:52] muhammedkaraoglu commented on #65
Is this a problem or is it my fault?  @xiCO2k

[2022-09-10 23:23] xiCO2k commented on #65
Hey @muhammedkaraoglu can't find any relating with that delay, what is the filesize for that lang file?

[2022-09-10 23:34] muhammedkaraoglu commented on #65
@xiCO2k  public/build/assets/php_tr.32683819.js   11.00 KiB / gzip: 2.62 KiB

The important thing is the "components" and "app.js" loading before the lang file.

[2022-09-10 23:37] xiCO2k commented on #65
if you want to make sure it is not a "lazyLoad" you can use the `globEager` instead.

Check the SSR import suggestion: https://github.com/xiCO2k/laravel-vue-i18n#ssr-server-side-rendering

[2022-09-10 23:37] #65 closed

[2022-09-10 23:41] muhammedkaraoglu commented on #65
This worked for me, thanks a lot @xiCO2k  .

[2022-09-10 23:44] xiCO2k commented on #65
no problem anytime.

[2022-09-19 18:49] lvntrdev opened #66 "Datatable refresh problem"
Hello

I installed the Datatable plugin. When the page is opened for the first time, there is no problem, when we refresh the page, the language gradually starts to appear. Can anyone help to resolve this issue?

Laravel 9
Inertiajs + vue3
datatable.net

![Ekran Resmi 2022-09-19 21 47 09](https://user-images.githubusercontent.com/102551990/191092901-b7c1a809-fdf5-4861-bad5-a0a2cfeb2ae6.png)

![Ekr

[2022-10-01 20:33] jobasc0 opened #68 "Can't Install laravel-vue-i18n"
Hi, thanks a lot for this greate package, unfortunately i can's install it on fresh laravel install.
Here is the error log.
$ npm i laravel-vue-i18n
npm WARN ERESOLVE overriding peer dependency
npm WARN While resolving: laravel-vue-i18n@2.2.2
npm WARN Found: laravel-mix@undefined
npm WARN node_modules/laravel-mix
npm WARN
npm WARN Could not resolve dependency:
npm WARN peer laravel-mix@"^6.0.43" f

[2022-10-03 11:44] markdegrootnl opened #69 "Callback or event when language is loaded"
Is there a way to get notified when the language is loaded?

[2022-10-03 15:15] xiCO2k commented on #68
Just tried that and there was no problems, can you check, what npm version you are using?

Thanks

[2022-10-03 15:15] #68 closed

[2022-10-03 20:05] markdegrootnl commented on #69
#70

[2022-10-03 22:08] jobasc0 commented on #68
$ npm -v
8.18.0
$ node -v
v16.17.0

[2022-10-04 01:06] #69 closed

[2022-10-04 01:07] #66 closed

[2022-10-06 12:24] ProjectAsphaleia opened #71 "Feature request: Language array"
Hi,

I'm not sure if this is already possible, but can there be a function which allows you to use an array of language strings.

I for example have in my `en.php`

[code]

In the Json this gets converted to.
[code]

Now I'm not sure how to retrieve these language strings from the array.
The reason I want to do it like this, is because I want them to be seperate paragraphs.
Each line is supposed t

[2022-10-07 11:16] xiCO2k commented on #71
Hey, that is not possible yet, but I would love a PR for that.

[2022-10-07 13:13] REJack opened #72 "Simple Question about the Json files"
I don't know if some one asked it already, but do I need to mange the `.json`-files or should I only add/change language phrases inside the php files?

P.S.: Awsome work 😄 sadly I need to open a issue for it, due you have not enabled Github's discussion feature 😉

[2022-10-07 16:08] REJack commented on #71
Done 😉

[2022-10-08 15:27] xiCO2k commented on #72
you can use both translations if you use the vite plugin or the webpack plugin.

But I would say to just use the `.json` file for all the translations, thats what I would do.

Thanks.

[2022-10-08 15:27] #72 closed

[2022-10-08 20:36] REJack commented on #72
Ok 😄 nice, I use the `.php`-files, it's better to handle for me 🤣 better to read and manage. But thanks for the info.

[2022-10-09 10:30] #71 closed

[2022-10-10 00:06] diego-lipinski-de-castro commented on #62
iam having the same problem, on v2.2.2, vue v3.2.31, cant find why

[2022-10-10 10:09] xiCO2k commented on #62
Can you try `v2.3.0`. and check if there is any issue on the console?

Thanks.

[2022-10-10 17:00] diego-lipinski-de-castro commented on #62
Still didnt seem to work, I can workaround this by adding :key to the root component, and then, in the onMounted lifecycle, i can inside a 50ms timeout update the key to force the entire app to re-render and then it will update the ui with the correct language, but its a hack, the ui always flashes the content because of this

[2022-10-11 08:45] Mondotosz opened #74 "Translation not loaded on initial page load composition api"
Similarly to #62 , the translations aren't loaded yet when the composition api runs after the first page load.

Calling it inside of onMounted doesn't work either and I tried to make it work with the new onLoad callback from #70  but I didn't find a good way to do  it (can't find a way to force a refresh and using stores/:key works but it adds unnecessary boilderplate and sub optimal).

I'm wonder

[2022-10-11 11:09] xiCO2k commented on #74
Hey @Mondotosz will take a look on this.

[2022-10-11 20:57] xiCO2k commented on #62
Hey @diego-lipinski-de-castro just checked and looks like to avoid that (since the language is being read async) you may need to change your resolve method to the SSR example like this:

[code]

[2022-10-11 20:57] xiCO2k commented on #74
Check this reply https://github.com/xiCO2k/laravel-vue-i18n/issues/62#issuecomment-1275268441

[2022-10-11 20:57] #74 closed

[2022-10-11 20:57] xiCO2k commented on #74
Thanks for the feedback

[2022-10-12 17:04] diego-lipinski-de-castro commented on #62
Still doesnt seem to work unfortunately, is there an working example I could test of this working? or maybe another way of testing

[2022-10-13 00:26] xiCO2k commented on #62
made that switch on your repo, then I did run `vite build` and that was it.

[2022-10-13 07:05] ekpono opened #75 "Guide to load Lang from database or external files"
I have a Laravel Vue application, the application is hosted on Vapor.

The admin can update the language files but since Vapor is serverless, I cant write to update the `lang/` folder.

My question is, how do I either write to external storage system that stores my lang folder (e.g s3) or use database to store the language key pair?

[2022-10-13 08:31] Mondotosz commented on #62
***edit: I found out why it didn't work while writing this and testing on the side and thought it might be interesting for others. and still uploaded it alongside what I found at the end.***

I tried it on my project and it still doesn't work on the first page load.
I'm sorry I can't share the full repository as it is a project I'm working on as an intern but here are some insights which might be

[2022-10-13 14:55] xiCO2k commented on #75
Hey @ekpono, we may need a way to fetch a lang file from a 3rd party url, that way it will work for you.

[2022-10-13 15:02] ekpono commented on #75
@xiCO2k Any ideas on how to fetch the lang file from a 3rd party url?

[2022-10-13 15:26] xiCO2k commented on #75
I don't it works out a box, It looks like a cool new feature for the package.

[2022-10-13 16:18] diego-lipinski-de-castro commented on #62
U might got confused, because if any state changes, the app rerenders and then renders the translations, but if you F5 you will see that the translations arent being loaded, that might be the case, im not sure, I made that change and ran vite build but got the same results, after logging in and F5

[2022-10-14 12:39] retromack opened #76 "Single json file for all translations"
I tried to use a single json file as explained in the laravel docs https://laravel.com/docs/9.x/localization#using-translation-strings-as-keys. I did manage to translate to another locale from en but going back to en the locale changes aren't being made. Is this not supported at the moment?

[2022-10-14 17:54] xiCO2k commented on #76
can you provide more info for that

Thanks,
Francisco

[2022-10-18 05:18] ekpono commented on #75
I made a work around using this

In my `app.js` I only ran the setup after the  language has been resolve.

The api returns a key pair e.g

[code]

[code]

And then in my `vue` files i did `$t('home.welcome_message')`

This is just temporary solution, if anyone has a better way to resolve an api lang from the backend, please let me know

[2022-10-18 14:41] xiCO2k commented on #75
That is awesome, I will try to find some time to add that capability to the package.

PS: If anyone wants to PR that, are more than welcome.

[2022-10-18 14:41] #76 closed

[2022-10-18 14:41] #30 closed

[2022-10-18 17:20] Ulrich15 commented on #30
Hi @xiCO2k
Is this problem be fixed? Thanks.

[2022-10-18 22:14] ekpono commented on #75
Hi @xiCO2k

Thank you for always being available.

I wish I had experience writing or adding features to packages, I would have made PR  😭

[2022-10-19 02:17] xiCO2k commented on #75
you can try, and any question you can ask me ;)

[2022-10-19 14:01] robinvoor opened #77 "Register globally to use within script tags"
Hi,

I noticed issue #28 - I was wondering if this is possible to register anything globally though.
So instead of having to import `trans` each time (with `import { trans } from "laravel-vue-i18n"`), just use `trans` or `$t` or whatever immediately within the script tags like the following:

[code]

[2022-10-19 15:08] xiCO2k commented on #77
Hey @robinvoor you can make it available globally by using:

[code]

No plans to add that to the plugin.

Thanks,
Francisco

[2022-10-19 15:08] #77 closed

[2022-10-25 10:15] quelo83 opened #78 "Support for Laravel Modules"
Hi, my project uses the Laravel Modules package (https://github.com/nWidart/laravel-modules) which allows you to separates logic in different modules. This means that every module has its own lang files.

The problem is that it is not possible to specify more than one folder for PHP files in the Vite plugin.

[code]

It would be perfect if it accepts an array of LangPaths in order to process more

[2022-10-28 15:23] kskrlinnorth2 commented on #62
Same issue, translations aren't available in mounted hooks or outside of hooks, but we are using webpack, not vite.
Using version: 2.3.0.

app.js
[code]

some component where we need translations in mounted hook
[code]

en.json
`{ "error.generic": "This is generic error!" }`

[2022-10-28 15:25] yoeriboven opened #79 "Cannot find module './en.json'"
Hi Francisco,

I can't get the package to work with PHP files.

I followed these steps (no SSR): https://github.com/xiCO2k/laravel-vue-i18n#with-webpack--laravel-mix

The console says this: `Unhandled Promise Rejection: Error: Cannot find module './en.json'`.

The file `/public/js/lang_php_en_json.js` exists.

Also is resolving as instructed in app.js correct? The file `../../lang/${lang}.json` do

[2022-10-28 15:33] yoeriboven commented on #79
Right after posting this it suddenly worked.

The same error message persists though.

It's thrown at the top of my `app.js`

[code]

[2022-10-28 20:11] kskrlinnorth2 commented on #2
For me nothing above works. I am using latest version of this package and vue 3 composition API (script setup).

Here are all solutions I have tested:
[code]

[code]

[2022-10-28 22:58] xiCO2k commented on #2
You can check the `onLoad` event, that you can pass as an option to the plugin, to get the callback after the lang is loaded, probably the only way to tackle that case.

Thanks for reporting

[2022-10-28 23:00] xiCO2k commented on #79
If possible can you provide your `app.js` file, to try to debug here?

Thanks.

[2022-10-28 23:01] xiCO2k commented on #78
Hey @quelo83 will take a look on that and find if that is possible to add to the plugin.

Thanks.

[2022-10-29 12:57] yoeriboven commented on #79
[code]

[2022-10-29 20:20] quelo83 commented on #78
Thank you very much @xiCO2k. This would be a fantastic improvement.

I've not tested yet, but it seems that the only changes would be to modify the function header to accept an array of langPaths:
[code]
and  replace the line 22:
[code]
with this code:
[code]

Let me know if I can help you in any way.

[2022-10-31 10:21] Henxed commented on #30
Confirm. This problem exists only on Windows. Even after upgrading from 1.4.3 to 2.3.0. The "watch-poll" saves me. We also hope that this bug will be fixed.

[2022-11-01 14:45] yoeriboven commented on #79
I'm also having issues using the `trans` helper in the `script` part of Vue components. Often it will just return the string it's given instead of the translated version. Might be because it can't find the translations?

[2022-11-04 08:50] xiki808 opened #80 "Console error in Firefox"
Hi, I'm getting the following error when on Firefox. No issues on Chrome

`Uncaught (in promise) TypeError: langs[(("../../lang/" + (intermediate value)) + ".json")] is not a function`

![image](https://user-images.githubusercontent.com/8024321/199931293-4177d041-1ce9-4a9c-852e-0bc14080692f.png)

[2022-11-07 07:46] xiki808 commented on #80
Would like to also add, that even though the error is produced, translations still work.

[2022-11-07 10:14] xiCO2k commented on #80
Hey @xiki808 can you show me you `app.js` file to help debugging the issue?

Thanks

[2022-11-08 08:02] xiki808 commented on #80
Hi @xiCO2k, here's my app.js

[code]

In case it helps, I'm using Laravel version 9 with Vite. Here's my Vite config:

[code]

[2022-11-08 16:27] xiki808 opened #82 "Switching language, including URL"
The `loadLanguageAsync` works great and I like it, but the URL doesn't change to reflect the language. Maybe I am missing something so I'm posting here.

I know I can send an ajax call to get the same result, but would be nice if it works straight away through this functionality.

I'm using laravel 9 with Vite and Inertia.

[2022-11-09 08:15] pristavu commented on #62
https://github.com/pristavu/inertia-vue3-i18n

Throttle the network via devtools

- page loaded without ssr
https://user-images.githubusercontent.com/4123729/200774971-e8824352-94b7-46fd-a748-5770bff0c260.mp4

- page loaded with ssr
https://user-images.githubusercontent.com/4123729/200775383-cbcca464-8523-4c60-ae6d-fba7f72d66f6.mp4

[2022-11-10 01:13] xiCO2k commented on #80
Thanks for the feedback, will check that up ASAP

[2022-11-15 19:35] pushparajbhatta commented on #62
I am experiencing same issue while using it with Inertia js

[2022-11-15 20:32] pushparajbhatta commented on #62
Finally, figured it out. In my case, the issue is caused by the **<Link>** component of **"inertiajs/inertia-vue3"**

As per Inertia JS docs:
`**Link** component is a light wrapper around a standard anchor <a> link that intercepts click events and prevents full page reloads from occurring.`

Hence, the page is not reloading the <html> tag and the "lang" attribute remains unchanged. However, it wor

[2022-11-21 13:42] sami-vertex opened #83 "Error in mix compiling"
Hi,
I've an error when run `npm run watch | npm run dev` after I update webpack.mix.js as the image.

[https://i.postimg.cc/fRnMM9tq/mix-error.png](https://i.postimg.cc/fRnMM9tq/mix-error.png)

Laravel: 9.x
Bootstrap 4.6
Laravel-mix: 6.0.6
Vue: 3

the error in:
C:\xampp\htdocs\laravel\tournaments\node_modules\laravel-vue-i18n\dist\loader.js:86
    if (expr.kind === 'string') {
             ^

How

[2022-11-23 13:45] GekkeGlenn-Dev opened #84 "Language files are not Reading Recursive"
I used this plugin but i'm running into a issue.

My lang folder structure is as follow:
[code]
  But if i read the json files, i only see the translations from the files of the root dir of a languages and not the sub folder translations.

  Or is there any fix for it?

  App.js:
[code]
Vite Config:
[code]

  Versions:
  Laravel 9.38
  PHP: 8.1.0
  Yarn: 1.22.19
  Vite: 3.0.0
  Vue: 3.2.41

[2022-11-23 13:51] GekkeGlenn-Dev commented on #84
Extra info:
In a vue file i'm doing this to load a translation:
[code]

[2022-11-25 15:39] timoransky opened #85 "Can't seem to get the translations working"
Hi!

I can't get this package to work on my project for some reason. I mean, it works, but it doesn't really load translations from my .json file.

This is what my `/resources/js/admin/index.js` looks like. Notice the console log in resolve function which doesn't output anything to the console.
[code]

And this is how my `/lang/en.json` looks like:
[code]

However, when I try to get the translatio

[2022-11-25 15:44] xiCO2k commented on #84
Interesting case, will take a look on that shortly.

Thanks.

[2022-11-25 15:45] xiCO2k commented on #85
can you check if inside the `<template>` it works? Thanks.

[2022-11-25 15:46] xiCO2k commented on #83
Hey @sami-vertex  can you provide the code on your `webpack.mix.js` file?

Thanks

[2022-11-25 15:47] xiCO2k commented on #82
On full page reload?

If so, you can change the `<html lang="en">` argument.

[2022-11-25 15:48] timoransky commented on #85
@xiCO2k sadly no, not even in the template as you can see here:
[code]
![image](https://user-images.githubusercontent.com/15653065/204019389-46646a00-96ea-45a7-abd1-1c8f0e3bd4d2.png)

[2022-11-25 15:49] xiCO2k commented on #85
Got it, thanks. Will find the issue and add a fix for that.

Thanks

[2022-11-25 15:52] timoransky commented on #85
Great, if you will need any help or more info from my side just hit me up anytime 😊

[2022-11-25 15:59] timoransky commented on #85
@xiCO2k just tried installing v1.4.4 and it works in the template:

![image](https://user-images.githubusercontent.com/15653065/204020824-933d5da7-38e2-4386-ab78-742e0d9e55ea.png)

[2022-11-25 19:05] RomanNebesnuyGC commented on #78
++ need this feature also